<!-- todo.erb -->
<header>
  <div id='header-left'>
    <h1><%= @todo[0] %></h1>
    <% if @todo[1]!="" %>
    <h4>Deadline:<%= @todo[1] %></h4>
    <% end %>
    <h2>Update Todo!</h2>
  </div>
</header>
<section class='todo-container'>
  <div>
    <form action="/todos/<%= @id %>" method="POST" class="form">
      <input type='hidden' name='_method' value='put'>
      <input type="text" name="title" placeholder="Enter updated event" value="<%= @todo[0] %>"/>
      <div class='btn-container'>
        <a class='btn' href='/todos'>Back</a>
        <input class="btn-style" type='submit' value='save changes'>
      </div>
    </form>
  </div>
</section>